@import './../../../../node_modules/@plait/draw/styles/styles.scss';
@import './../../../../node_modules/@plait/mind/styles/styles.scss';
@import './theme.scss';

.drawnix {
    height: 100%;
    .draw-toolbar {
        cursor: default;
        position: absolute;
        top: 36px;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-menu {
        position: absolute;
        top: 40px;
        left: 36px;
    }

    .drawnix-link, a {
        font-weight: 500;
        text-decoration: none;
        color: var(--link-color);
        user-select: none;
        cursor: pointer;

        &:hover {
        text-decoration: underline;
        }
        &:active {
        text-decoration: none;
        }
  }
}