@import './../../../../node_modules/@plait/draw/styles/styles.scss';
@import './../../../../node_modules/@plait/mind/styles/styles.scss';
@import './theme.scss';

.drawnix {
    height: 100%;
    font-family: PingFangSC-Regular, "PingFang SC";
    .draw-toolbar {
        cursor: default;
        position: absolute;
        top: 36px;
        left: 50%;
        transform: translateX(-50%);
        @include isMobile {
            top: 20px;
        }
    }
    .zoom-toolbar {
        cursor: default;
        position: absolute;
        top: 36px;
        right: 36px;
        @include isMobile {
            display: none;
        }
        .zoom-out-button {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        .zoom-menu-trigger {
            width: 56px;;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-on-surface);
            border-radius: var(--border-radius-sm);;
            cursor: pointer;

            &:hover, &.active {
                --background: var(--color-surface-primary-container);
                background-color: var(--background);
            }
        }
        .zoom-in-button{
            color: var(--color-on-surface);
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
    .app-toolbar {
        position: absolute;
        top: 40px;
        left: 36px;
        @include isMobile {
            bottom: 20px;
            top: auto;
            width: 86%;
            left: 50%;
            transform: translateX(-50%);
        }
        .stack {
            @include isMobile {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    .drawnix-link, a {
        font-weight: 500;
        text-decoration: none;
        color: var(--link-color);
        user-select: none;
        cursor: pointer;

        &:hover {
        text-decoration: underline;
        }
        &:active {
        text-decoration: none;
        }
  }
}