.popup-toolbar {
    .property-button {
        height: var(--lg-button-size);
        width: var(--lg-button-size);
        .color-label {
            cursor: pointer;
        }
        .fill-label {
            display: inline-block;
            width: var(--popup-label-size);
            height: var(--popup-label-size);
            border-radius: 50%;
            &.color-white {
                border: 1px solid var(--color-gray-30);
            }
        }
        .stroke-label {
            border-radius: 50%;
            width: calc(var(--popup-label-size) - var(--border-radius-lg));
            height: calc(var(--popup-label-size) - var(--border-radius-lg));
            border-width: var(--border-radius-sm);
            border-style: solid;
        }
        .tool-icon__icon {
            svg {
                width: var(--xlg-icon-size);
                height: var(--xlg-icon-size);
            }
        }
    }
}

.stroke-setting {
    &.has-stroke-style {
        padding-top: 8px !important;
    }
    .stroke-style-picker {
        justify-content: space-between;
        padding: 0 8px;
    }
}

.source-arrow-island .property-button ,.source-arrow-button{
   transform: rotateY(180deg);
}